<!DOCTYPE html>
<html xml:lang="nl">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="SBR Viewer, een viewer voor het openen van SBR documenten">
    <meta name="author" content="Accept Development B.V.">
    <link rel="shortcut icon" href="img/favicon.gif">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="img/apple-touch-icon-144-precomposed.png">

    <title>Zebra Website</title>

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <!-- Fonts -->
    <link href="css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <!-- QapTcha -->
    <link href="css/QapTcha.jquery.css" rel="stylesheet">
    <!-- Custom Theme CSS -->
    <link href="css/flags.css" rel="stylesheet">
    <link href="css/navbar.css" rel="stylesheet">
    <link href="css/custom.css" rel="stylesheet">
    <link href="css/section.css" rel="stylesheet">
    <script type="text/javascript" src="js/modernizr.custom.js"></script>
</head>

<body id="page-top" data-spy="scroll" data-target=".navbar-custom">
    <header>
        <nav class="navbar navbar-custom navbar-fixed-top top-nav-collapse" role="navigation">
            <div class="container">
                <div class="row">
                    
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
                            <i class="fa fa-bars"></i>
                        </button>
                        <a class="navbar-brand" href="index.html">
                            <div>
<!--                                 <img src="img/logo%20ZeBra.gif" height="60px" alt=""> -->
                                stg Rugby Zebra
                            </div>
                        </a>
                    </div>

                    <!-- Nav bar -->
                    <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
                        <ul class="nav navbar-nav">
                            <li>
                                <a href="rugbyacademie.html">Rugby academie</a>
                            </li>
                            <li>
                                <a href="rtc.html">RTC</a>
                            </li>
                            <li>
                                <a href="maatwerk_en_breedtesport.html">Maatwerk & Breedtesport</a>
                            </li>
                            <li>
                                <a href="selecties.html">Selecties</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>

            <nav class="navbar navbar-custom navbar-intern">
                <div class="row">
                    <div class="col-md-2 nav-menu navbar-intern">
                        <ul class="nav navbar-nav">
                            <li class="page-scroll">
                                <a href="#over">'t rijks</a>
                            </li>
                                <li class="page-scroll">
                                    <a href="#over" class="sub">over</a>
                                </li>
                                <li class="page-scroll">
                                    <a href="#toegangsvoorwaarden" class="sub">Voorwaarden</a>
                                </li>
                            <li class="page-scroll">
                                <a href="#loot">LOOT</a>
                            </li>
                                <li class="page-scroll">
                                    <a href="#loot" class="sub">over</a>
                                </li>
                                <li class="page-scroll">
                                    <a href="#faciliteiten" class="sub">faciliteiten</a>
                                </li>
                                <li class="page-scroll"+>
                                    <a href="#voorwie" class="sub">voor wie</a>
                                </li>
                            <li class="page-scroll">
                                <a href="#contact">Contact</a>
                            </li>
                        </ul>
                    </div>
                </div>       
            </nav>
        </div>
        <!-- /.container -->


        <section id="intro" class="section intro academy">
            <div class="section-body">
                <div class="content">
                    <div class="container">
                        <div class="row">
                            <div class="intro-wrapper col-md-12 col-xs-12">
                                <div class="intro-top">
                                    <h1 class="brand-heading">
                                        
                                    </h1>
                                    <p class="intro-text"></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </header>

    <main>
        <section id="over" class="section over green">
            <div class="section-body">
                <div class="content">
                    <div class="section-header">
                        <h2>Studeren en topsport op 't Rijks </h2>
                        <div class="divider-grey"></div>
                    </div>
                    <div class="vert-center col-lg-8 col-lg-offset-2">
                            <img src="img/logo/ra.jpg" height="100%" width="100%" class="profile" alt="Logo Rugby Academy">
                        <div class="col-md-6 kolom">
                            <p>
                                Wil je goed kunnen studeren voor je latere carrière en ook vaak je favoriete sport rugby beoefenen? Op 't Rijks is dat mogelijk! Wij bieden een opleiding op MAVO-, HAVO- of VWO-niveau en extra trainingen onder schooltijd.
                            </p>
                            <p>
                                Momenteel zijn er op onze school topsportvriendelijke klassen voor basketbal, tennis, voetbal (meisjes), atletiek en nieuw voor rugby: ‘de Rugby Academy’. Deze klassen zijn wij gestart om talenten te ontwikkelen, zodat zij zich bij het allerhoogste niveau, als Topsport Talent, kunnen aansluiten.
                            </p>
                        </div>
                        <div class="col-md-6 kolom">
                            <p>
                                Bij deelname aan de Rugby Academy krijg je al meteen een topsport status.
                            </p>
                            <p>
                                Alle trainingen zijn aanvullend op de gewone trainingen die een leerling al bij een sportclub of sportbond volgt. Per week zijn er minimaal twee blokken van twee lesuren training onder schooltijd. De trainingen worden gegeven door bonds-gekwalificeerde trainers in deze sport. Zo willen we je helpen beter te worden in je favoriete sport. Tijdens wedstrijden tegen andere scholen en bij je sportvereniging kun je laten zien wat je geleerd hebt. Wil jij jezelf verder ontwikkelen dan kun je geplaatst worden de Rugby Academy!
                            </p>
                        </div>                            
                    </div>
                </div>
            </div>
        </section>

        <section id="toegangsvoorwaarden" class="section voorwaarden">
            <div class="section-body">
                <div class="content">
                    <div class="section-header">
                        <h2>Voorwaarden tot toelating</h2>
                        <div class="divider-grey"></div>
                    </div>
                    <div class="section-container">
                        <div class="vert-center col-lg-8 col-lg-offset-2">
                            <p>
                                We verwachten dat je lid bent van een rugbyvereniging. Wij hebben geen voorkeur voor een bepaalde vereniging, maar je moet wel talent hebben. Toelating tot de Topsportvriendelijke klassen gebeurt via selectie. Deze selectie wordt gedaan door de sportbond of gekwalificeerde trainers. Er wordt gekeken of iemand voldoende niveau of mogelijkheden heeft om deze trainingen te volgen. Op de informatieavonden kun je kennismaken met de school in het algemeen. 
                            </p>
                            <p>
                                Bij deelname aan dit programma  wordt een eigen bijdrage gevraagd van € 160,- per jaar.
                            </p>
                        </div>

                    </div>
                </div>
            </div>
        </section>

        
         <section id="loot" class="section loot">
            <div class="section-body">
                <div class="content">
                    <div class="section-header">
                        <h2>Wat betekent LOOT? </h2>
                        <div class="divider-grey"></div>
                    </div>
                    <div class="section-container">
                        <div class="vert-center col-lg-8 col-lg-offset-2">
                            <p>
                                LOOT staat voor Landelijke Organisatie Onderwijs en Topsport. Er zijn momenteel een 30-tal Topsport Talentscholen (LOOT-scholen) in Nederland. Deze scholen mogen van het Ministerie van Onderwijs, Cultuur en Wetenschap speciale faciliteiten geven aan leerlingen die talentvol zijn in sport, zodat zij hun studie en sport op een goede manier met elkaar kunnen combineren. Andere scholen mogen dit niet.
                            </p>
                        </div>

                    </div>
                </div>
            </div>
        </section>

        <section id="faciliteiten" class="section faciliteiten">
            <div class="section-body">
                <div class="content">
                    <div class="section-header">
                        <h2>Welke faciliteiten krijgt een LOOT-leerling?</h2>
                        <div class="divider-grey"></div>
                    </div>
                    <div class="section-container">
                        <div class="vert-center col-lg-8 col-lg-offset-2">
                            <p>
                                Er zijn verschillende mogelijkheden. Eén hiervan is vrijstelling van bepaalde uren zodat je dan je huiswerk kunt maken of kunt gaan trainen onder schooltijd. Een andere mogelijkheid is een aangepast rooster om uitgevallen uren, indien nodig weer in te halen. Ook vrijaf voor deelname aan wedstrijden, toernooien en trainingsstages hoort onder voorwaarden tot de mogelijkheden. Het kan zelfs zover gaan dat je vrijstelling van eindexamenvakken krijgt en de mogelijkheid om dit eindexamen te spreiden over twee jaar. Bij problemen zijn er steunlessen voor je en ook de ondersteuning door een LOOT-begeleider hoort er standaard bij. Verder is er een aparte studieruimte met toezicht.
                            </p>
                        </div>

                    </div>
                </div>
            </div>
        </section>

        <section id="voorwie" class="section voorwie">
            <div class="section-body">
                <div class="content">
                    <div class="section-header">
                        <h2>Voor wie is LOOT?</h2>
                        <div class="divider-grey"></div>
                    </div>
                    <div class="section-container">
                        <div class="vert-center col-lg-8 col-lg-offset-2">
                            <p>
                                Wil je voor LOOT-faciliteiten in aanmerking komen dan dien je een status te hebben. Jouw sportbond bepaalt in samenspraak met het NOC/NSF wie er in jouw sport als talent wordt bestempeld. Deze talenten staan in een grote landelijke database. Als je als Belofte, Nationaal Talent of Internationaal Talent wordt gekwalificeerd dan krijg je op RSG 't Rijks een Topsport Talentstatus met de daarbij behorende faciliteiten.
                            </p>
                        </div>

                    </div>
                </div>
            </div>
        </section>

        <section id="contact" class="section contact">
            <div class="section-body">
                <div class="content">
                    <div class="section-container ">
                        <div class="vert-center">
                            <div class="row">
                                <div class="col-lg-4 col-lg-offset-1 col-sm-4 col-md-6 col-xs-10 contact-left">
                                    <h3>
                                        Stuur een bericht
                                    </h3>
                                    <br>
                                    <p>
                                        Hebt u opmerkingen of suggesties voor ons? Dan horen wij dat graag.
                                    </p>
                                    <br>
                                    <p>
                                        <a href="mailto:info@rugbyzebra.nl" class="social">
                                            info@rugbyzebra.nl
                                        </a><br />
                                        <br />
                                        <a href="https://nl-nl.facebook.com/pages/Rugby-ZeBra/1419160591671039" class="social" target="blank">
                                            <i class="fa fa-facebook"></i>
                                            <!--[if lt IE 8]>F: facebook<br /><![endif]-->
                                        </a>
                                        <a href="mailto:info@rugbyzebra.nl" class="social">
                                            <i class="fa fa-inbox"></i>
                                            <!--[if lt IE 8]>E: info@rugbyzebra.nl<![endif]-->
                                        </a>
                                    </p>
                                </div>
                                <div class="col-lg-5 col-sm-8 col-md-6 col-xs-10 contact-right">
                                    <h3>
                                        Werk met ons samen
                                    </h3>
                                    <br>
                                    <p>
                                        Ook wanneer u mogelijkheden ziet tot samenwerking, horen wij graag van u.
                                    </p>
                                    <br>
                                    <p class="page-scroll">
                                        <a href="#contact-form" class="button">Formulier</a>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section id="contact-form" class="section contact-form">
            <div class="section-body">
                <div class="content">
                    <div class="section-header">
                        <h2>
                            Stuur een bericht
                        </h2>
                        <div class="divider-grey"></div>
                    </div>
                    <div class="section-container">
                        <div class="row">
                            <div class="col-lg-10 col-lg-offset-1">
                                <form ng-submit="submitForm()" ng-controller="FormController" novalidate>

                                    <div class="form-group">
                                        <label for="name">
                                            <!--[if lt IE 10]>
                                                <span lang="nl">Naam</span>
                                                <span lang="en">Naam</span>
                                            <![endif]-->
                                        </label>
                                        <input type="text" class="form-control" name="name" ng-model="formData.name" ng-class="{'error' : errorName}" data-placeholder_class=".placeholder" title="Naam en of bedrijfsnaam">
                                        <div class="required">*</div>
                                        <div class="placeholder hidden">
                                            Naam
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="email">
                                            <!--[if lt IE 10]>
            <span lang="nl">E-mail</span>
            <span lang="en">E-mail</span>
                <![endif]-->
                                        </label>
                                        <input type="email" class="form-control" name="email" ng-model="formData.email" ng-class="{'error' : errorEmail}" data-placeholder_class=".placeholder" title="E-mail">
                                        <div class="required">*</div>
                                        <div class="placeholder hidden">
                                            E-mail
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="phone">
                                            <!--[if lt IE 10]>
                    <span lang="nl">Telefoonnummer</span>
                    <span lang="en">Phonenumber</span>
                        <![endif]-->
                                        </label>
                                        <input type="text" class="form-control" name="phone" ng-model="formData.phone" data-placeholder_class=".placeholder" title="Telefoonnummer">
                                        <div class="placeholder hidden">  Telefoonnummer
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="message">
                                            <!--[if lt IE 10]>
            <span lang="nl">Verstuur bericht</span>
            <span lang="en">Submit message</span>
                <![endif]-->
                                        </label>
                                        <textarea class="form-control" name="message" ng-class="{'error' : errorTextarea}" ng-model="formData.message" cols="30" rows="10" data-placeholder_class=".placeholder" title="Stel uw vraag"></textarea>
                                        <div class="required">*</div>
                                        <div class="placeholder hidden">
                                            Stel uw vraag
                                        </div>
                                    </div>
                                    <div class="QapTcha">
                                        <div class="TxtShow">
                                            Verstuur bericht
                                        </div>
                                        <div class="TxtHelp">
                                            Schuif naar rechts om te versturen!
                                        </div>
                                    </div>
                                    <input class="hidden" type="submit" value="Send!" name="submit">
                                    <div ng-class="{'submissionMessage' : submission}" ng-bind="submissionMessage"></div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>






<section id="footer">
    <div class="footer-section">
        <p>&copy; 2015 Stichting Rugby Zebra Alle rechten voorbehouden<br/> Vragen? Stuur ons <a href="mailto:info@rugbyzebra.nl">e-mailbericht</a>.
        </p>
    </div>
</section>
        

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>

    <script src="js/jquery.cookie.js"></script> <!-- doesn't work on a local chrome version. -->
    
    <!-- Custom Theme JavaScript -->
    <script src="js/custom.js"></script>

</body>

</html>