@charset "iso-8859-1";
/* Note: the names of the styles "Heading1", "Heading 2", "Heading 3", "Normal" and "BodyTextRed" must correspond 
 with the predefined style names in Electos. The formatting however may differ.  Changing the format will affect both the
 appearance in Electos Stduio and the website*/

.Heading1 {
	font-family : Arial,Lucida Sans, Tahoma, "Times New Roman",Times,serif; 
	font-size: large;
	color: #000000; 
	font-style: normal; 
	font-weight: bold; 
}

.Heading2 {
	font-family : Arial,Lucida Sans, Tahoma, "Times New Roman",Times,serif;
	font-size: medium;
	color: #000000;
	font-style: italic;
	font-weight: bold;
}
	
.Heading3 {
	font-family : Arial,Lucida Sans, Tahoma, "Times New Roman",Times,serif;
	font-size: small;
	color: #000000;
	font-style: italic;
	font-weight: normal;
}
	
.Normal {
	font-family : Arial,Lucida Sans, Tahoma, "Times New Roman",Times,serif;
	font-size: x-small;
	font-weight: normal;
	color: #000000;
	text-decoration: none;
}

.EmphasizedText {
	font-family : Arial,Lucida Sans, Tahoma, "Times New Roman",Times,serif;
	font-size: x-small;
	font-style: normal;
	font-weight: normal;
	color: Red;
}
.BodyTextRed {
	font-family : Arial,Lucida Sans, Tahoma, "Times New Roman",Times,serif;
	font-size: small;
	font-style: normal;
	font-weight: normal;
	color: Red;
}
sup, sub {
	height: 0;
	line-height: 1;
	vertical-align: baseline;
	_vertical-align: bottom;
	position: relative;
	font-size:10px;
}
sup { bottom: 1ex;}
sub { top: .5ex;}

ol {
	padding: 0px 0px 0px 20px;
}
ol li{
	list-style-type: decimal;
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
}
ol li ol li {
	list-style-type: lower-alpha;
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
}

ul{
	padding: 0px 0px 0px 20px;
}
ul li {
	list-style-type: square;
	padding: 0px 0px 0px 0px;
	margin: 0px 0px 0px 0px;
}
ul li ul li{
	list-style-type:circle;
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
}
ul li ul li ul li{
	list-style-type:disc;
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
}

/*  Note: the following styles correspond with the elements in the Document Structures. They are used 
to set the default format for these elements in both the studio and website. You may change the format as you wish. You should 
also expand the styles here when you create new document structures with different names items */

/* SIMPLE PAGE, HOME SUBPAGE, PHOTO ALBUM AND CONTAINER STYLES         */
/* -----------------------------------------*/
.Title {
	font-family: Arial,Lucida Sans, Tahoma, "Times New Roman",Times,serif;
	font-size: 30px;
	font-weight: bold;
	color: #4D5463;
	background-color: #E6E6E6;
}

.Text {
   font-family: Arial,Lucida Sans, Tahoma, "Times New Roman",Times,serif;
   font-size: 12px;
   color: #4B5152;
   background-color: #FFFFFF;  
   line-height: 18px;
}

.Text a, .Text a:link, .Text a:visited, .Text a:active {
    color: #5D6679;		
    text-decoration: underline;   
}

.Text a:hover{
	color: #414141;	
    text-decoration: underline; 
}

/* HOME PAGE STYLES        				    */
/* -----------------------------------------*/
.HeaderTitle {
	font-family: Arial,Lucida Sans, Tahoma, "Times New Roman",Times,serif;
	font-size: 30px;
	font-weight: bold;
	color: #FFFFFF;
	background-color: #A6A6A6;
}

.HeaderText {
   font-family: Arial,Lucida Sans, Tahoma, "Times New Roman",Times,serif;
   font-size: 13px;
   color: #FFFFFF;
   background-color: #A6A6A6; 
   font-style:italic;
   line-height: 18px;
}

.HeaderText p{
    padding:25px 0 0;
}

.BottomTitle {
	font-family: Arial,Lucida Sans, Tahoma, "Times New Roman",Times,serif;
	font-size: 20px;
	font-weight: bold;
	color: #FFFFFF;
	background-color: #5D6679;
}

.BottomText {
   font-family: Arial,Lucida Sans, Tahoma, "Times New Roman",Times,serif;
   font-size: 12px;
   color: #FFFFFF;
   background-color: #5D6679;  
   line-height: 18px;
}

.BottomText p{
    padding:10px 0 0 12px;
}

.BottomText a, .BottomText a:link, .BottomText a:visited, .BottomText a:active {
    color: #4B5152;		
    text-decoration: underline;   
}

.BottomText a:hover{
	color: #414141;	
    text-decoration: underline; 
}

/* GLOBAL BUTTON STYLE			    		*/
/* -----------------------------------------*/
.button {
	height:38px;
	background: url(../images/buttonLeft.png) no-repeat left top;
	border:none;
    display:block;
    float:left;
    padding:0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
	text-decoration: none;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}

.button span {
	height: 26px;
	line-height: normal;
	background: url('../images/buttonRight.png') no-repeat right top;
	cursor:pointer;
	display:inline;
	float:left;
	margin:0px 0px 0px 0px;
	padding: 12px 15px 0px 15px;
	font-weight: bold;
	text-decoration: none;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}

.button:hover  {
	background-position: left -38px;
}
.button span:hover  {
	background-position: right -38px;
}

.button span:hover{
	text-decoration: underline;
}